<!-- templates/404.html -->
!DOCTYPE html>
<html>

<head>
  <style type=text/css>
    p {
      color: blue;
      font-weight: 900;
      font-size: 20px;
      font-family: Helvetica, Arial, sans-serif;
    }
  </style>
</head>

<body>
  <H1>We're Sorry!</H1>
  <p>
    <br><br>
    If you came upon this page by mistake, try checking the URL in your web browser. Otherwise, we are sorry this page
    or resource is currently unavailable. Don't worry, we're working hard to fix it.
  </p>

</body>

</html>